body{
    margin: 0%;
    overflow-x: hidden;
}
h1{
    font-family: 'Bree Serif', serif;
    font-family: 'Philosopher', sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding-top: 150px;
}
.orang-collar{
    color: orange;
}
p{
    font-size: 22px;
    font-weight: 800;
}
.flex{
    display: flex;
    margin-left: 6%;
    margin-top: 4%;
    text-align: justify;
} 
.batton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    font-size: 25px;
    border: 10px solid rgb(247, 234, 234);
    border-radius: 40px;
    width: 30px;
}
.baler-mata{
    width: 50%;
    padding: 20px;
}
.bg-img{
background-image: url(pic/bg-photo.png);
width: 100%;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
.pragraph-padding{
    padding-right: 15%;
}
.habi-gabi{
    text-align: center;
    padding-left: 23%;
    padding-right: 23%;
    
    
}
.lest-div-flex{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
    
}
.lest-div-mannage{
    border: 10px solid white;
    box-shadow: 10px 10px 20px rgb(100, 100, 100);
    width: 25%;
    border-radius: 40px;
   margin: auto;

}
.img-hight-eidth{
    height: 100%;
    width: 90%;
    border: 10px solid white;
    border-radius: 35px;
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h2{
    text-align: center;
    font-size: 50px;
}
.last-div{
    display: flex;
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 10px solid tomato;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(243, 105, 105) ;
}
.alo{
    margin:auto ;
}
footer{
    text-align: center;
    background-color: rgb(15, 22, 37);
    height: 200px;
    padding: 20px;
    color: cornsilk;
}
